body {
    background: url('fond.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'DM Mono', monospace;
}

.bloc {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 7px 7px 7px black;
    width: 45%;
    height: 300px;
    margin-top: 15%;
    background-color: wheat;
    border-radius: 6px;
}

.middle {
    text-align: center;
    margin-top: 8%;
}

p {
    margin-top: 35px;
    padding: 0px 5px 0px 5px;
}

button {
    margin-top: 30px;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}